@import '../../../../styles/variables.scss';
@import '../../../../styles/utilities.scss';

.editPhotosContainer {
    border: 1px solid $color-primary-light;
    padding: 1rem;
}

.editPhotos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    align-self: stretch;
    height: 100%;
    position: relative;

    > div {
        @include flex-column(center, center);
        position: relative;
    }
}

.editPhotosFooter {
    @include flex-row(end, center);
    padding-top: 1rem;
}

.editPhotosFooterContent {
    @include flex-row(center, center);
    gap: 1rem;
}

.customUploadButton {
    cursor: pointer;
    background-color: $color-primary-light;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    color: #fff;
    text-align: center;
}

.hiddenFileInput {
    display: none;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}