@import '../../../styles/variables.scss';
@import '../../../styles/utilities.scss';

.modal {
    position: fixed;
    top: 6rem;
    right: 2rem;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 8px;

    form {
        @include flex(column, center, center);
    }
}