@import '../../../styles/variables.scss';
@import '../../../styles/utilities.scss';
@import '../../../styles/typography.scss';

.edit {
    @include flex-column(start, start);
    padding: 3rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 1000px;
    margin: 3rem;
    gap: 1rem;

    @media (max-width: $max-width-phone) {
        padding: 1rem;
        margin: 0;
        border-radius: 0;
    }
}

.editForm {
    @include flex-column(space-between, start);
    gap: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "details photos"
        "bio bio";

    @media (max-width: $max-width-phone) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "details"
            "photos"
            "bio";
    }
}

.detailsGridArea {
    grid-area: details;
    height: 100%;
}

.photosGridArea {
    @include flex-column(start, start);
    grid-area: photos;
    height: 100%;
    width: 100%;
    gap: 0.5rem;
}

.bioGridArea {
    grid-area: bio;
}