@import '../../../styles/variables.scss';
@import '../../../styles/utilities.scss';
@import '../../../styles/typography.scss';

.edit {
    @include flex-column(start, start);
    padding: 3rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 1000px;
    margin: 3rem;
    gap: 2rem;
    background-color: $color-primary-dark;
}

.editForm {
    @include flex-column(space-between, start);
    gap: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "details photos"
        "bio bio";

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "details"
            "photos"
            "bio";
    }
}

.detailsGridArea {
    grid-area: details;
    @include flex-column(start, start);
    gap: 1rem;
}

.editPhotosLabel {
    grid-area: photos;
    height: 100%;
}

.photoItem {
    @include flex-column(center, center);
}

.editBio {
    grid-area: bio;
    width: 100%;

    textarea {
        width: 100%;
    }
}

.fileUploadLabel {
    @include flex-column(start, start);
    gap: 0.5rem;
    width: 100%;
}