@import '../../../styles/variables.scss';
@import '../../../styles/utilities.scss';

.indexContainer {
    @include flex-row(start, start);
    width: 100%;
    min-height: 100vh;
    padding: 1rem 3rem;
}

.filterToggleContainer {
    width: 100%;
    @include flex-row(start, start);
}

.filterToggle {
    border: none;
    background-color: $color-secondary-light;
    color: white;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    font-size: 1.5rem;
    @include flex-row(center, center);
    transition: border-radius 0.3s ease;

    &.filterVisible {
        border-radius: 2rem 2rem 0 0;
    }
}

.filterContainer {
    width: 5rem;
    min-width: 5rem;
    height: 40rem;
    overflow: hidden;
    @include flex-column(start, start);
    top: 10rem;
    transition: all 0.3s ease;
    position: sticky;

    &.filterVisible {
        width: 25rem;
    }
}


.resultsContainer {
    width: 100%;
    transition: all 0.3s ease;
    padding-right: 5rem;

    &.filterVisible {
        padding-right: 0;
    }

    > div {
        @include flex-column(center, center);
    }
}

.elephantList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 17.5rem);
    gap: 1rem;
    justify-content: center;
    width: 100%;
    // max-width: 90rem;
    transition: padding 0.3s ease;
}
