@import '../../../styles/variables.scss';
@import '../../../styles/utilities.scss';

.indexContainer {
    @include flex-row(start, start);
    width: 100%;
    min-height: 100vh;
    gap: 1rem;
}

.filterToggle {
    position: fixed;
    top: 7rem;
    left: 1rem;
    z-index: 100;
    border: none;
    background-color: $color-secondary-light;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.filterContainer {
    width: 0;
    height: 50vh;
    overflow: hidden;
    @include flex-column(start, start);
    top: 7rem;
    left: 1rem;
    transition: all 0.3s ease;
    position: sticky;

    &.filterVisible {
        width: 25%;
    }
}


.resultsContainer {
    width: 100%;
    padding: 1rem 5rem;
    transition: all 0.3s ease;
    height: 100%;

    > div {
        @include flex-column(center, center);
        padding: 0;
    }

    &.filterVisible {
        padding: 1rem 0rem;
    }
}

.elephantList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    gap: 1rem;
    justify-content: center;
    width: 100%;
    max-width: 90rem;
    transition: padding 0.3s ease;
}
