/* media queries */
$max-width-tablet: 1140px;
$max-width-phone: 500px;

// default colors
$color-page-background-light: #f5f5f5;
$color-element-background-light: #e0e0e0;
$color-accent-light: #ff6f61;
$color-background-light: #ffffff;
$color-text-light: black;
$color-primary-light: #808080;
$color-secondary-light: #9a249a;
$color-button-login-light: #4CAF50;
$color-button-edit-light: #FFC107;
$color-button-save-light: #2196F3;
$color-button-delete-light: #F44336;
$color-button-restore-light: #4CAF50;
$color-button-clear-filter-light: #9E9E9E;
$color-button-standard-light: #ff6f61;
$color-desktop-container-light: #ffffff;

// dark theme colors
$color-page-background-dark: #161638;
$color-element-background-dark: #3a3f44;
$color-accent-dark: #a44138;
$color-background-dark: #212529;
$color-text-dark: #ffffff;
$color-primary-dark: #363d44;
$color-secondary-dark: #431243;
$color-button-login-dark: #66BB6A;
$color-button-edit-dark: #FFCA28;
$color-button-save-dark: #42A5F5;
$color-button-delete-dark: #EF5350;
$color-button-restore-dark: #4CAF50;
$color-button-clear-filter-dark: #BDBDBD;
$color-button-standard-dark: #a44138;
$color-desktop-container-dark: #292a2b;

$background-color-dark: #161638;   // Main background color
$primary-color-dark: #1B435E;      // Primary elements like headers or buttons
$secondary-color-dark: #38667E;    // Secondary elements like subheadings or links
$accent-color-dark: #563457;       // Accent elements like highlights or call-to-action buttons
$highlight-color-dark: #3A2B50;    // Highlights or borders

$background-color-light: #FFFFFF;   // Main background color
$primary-color-light: #F0F0F0;      // Primary elements like headers or buttons
$secondary-color-light: #D9D9D9;    // Secondary elements like subheadings or links
$accent-color-light: #ff6f61;       // Accent elements like highlights or call-to-action buttons
$highlight-color-light: #e85e51;    // Highlights or borders

$navbar-height: 5rem;

$outlet-large-width: 1140px;
$outlet-medium-width: 900px;
$outlet-small-width: 500px;