/* media queries */
$max-width-tablet: 1165px;
$max-width-phone: 875px;

// default colors
$color-primary-light: #808080;
$color-secondary-light: #9a249a;

// dark theme colors
$color-primary-dark: #212529;
$color-secondary-dark: #431243;