@import '../../../../styles/variables.scss';
@import '../../../../styles/utilities.scss';
@import '../../../../styles/typography.scss';

.filter {
    @include flex-column(start, start);
    background-color: $color-secondary-light;
    gap: 1rem;
    border-radius: 0.5rem;
    color: white;
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: width 0.3s ease;
    
    h3 {
        @include text-style-h3;
        width: 100%;
        white-space: nowrap;
    }

    select {
        width: 100%;
        padding: 0.5rem;
        border: none;
        border-radius: 0.25rem;
        background-color: $color-primary-light;
        font-size: 1rem;
    }

    &.filterVisible {
        width: 100%;
        border-radius: 0 0.5rem 0.5rem 0.5rem;
    }

    &.dark {
        background-color: $color-secondary-dark;
    }
}

.totalElephants {
    width: 100%;
    white-space: nowrap;
}

.filterRow {
    width: 100%;
    padding: 0 1rem;
}