@import '../../../../styles/variables.scss';
@import '../../../../styles/utilities.scss';
@import '../../../../styles/typography.scss';

.container {
    background-color: $color-secondary-light;
    color: white;
    width: 0;
    height: calc(100% - 5rem);
    overflow: hidden;
    transition: width 0.3s ease;
    border-radius: 0 2rem 2rem 2rem;

    h3 {
        @include text-style-h3;
        width: 100%;
        white-space: nowrap;
    }

    select {
        width: 100%;
        padding: 0.5rem;
        border: none;
        border-radius: 0.25rem;
        background-color: $color-primary-light;
        font-size: 1rem;
    }

    &.filterVisible {
        width: 100%;

        &::before {
            width: 100%;
            border-radius: 0 2rem 2rem 2rem;
        }
    }

    &.dark {
        background-color: $color-secondary-dark;

        &::before {
            background-color: $color-secondary-dark;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 5rem;
        left: 0;
        background-color: $color-secondary-light;
        width: 0;
        height: calc(100% - 5rem);
        transition: width 0.3s ease;
        border-radius: 0 0 2rem 2rem;
        z-index: -1;
    }

    &.hovering {
        &::before {
            width: 1rem;
        }
    }
}

.innerFilter {
    @include flex-column(start, start);
    padding: 1rem;
    gap: 1rem;
}

.totalElephants {
    width: 100%;
    white-space: nowrap;
}

.filterRow {
    width: 100%;
}