@import '../../../styles/variables.scss';
@import '../../../styles/utilities.scss';
@import '../../../styles/typography.scss';

.edit {
    @include flex-column(start, start);
    gap: 1rem;
}

.editFormGrid {
    gap: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "details photos"
        "bio bio";

    @media (max-width: $max-width-phone) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "details"
            "photos"
            "bio";
    }
}

.detailsGridArea {
    grid-area: details;
}

.photosGridArea {
    grid-area: photos;
}

.bioGridArea {
    grid-area: bio;
}