@import '../../../styles/variables.scss';
@import '../../../styles/utilities.scss';
@import '../../../styles/typography.scss';

.edit {
    @include flex-column(start, start);
    width: 100%;
    max-width: $max-width-tablet;
    gap: 1rem;
    padding: 1rem;
    background-color: $primary-color-light;
    border-radius: 1rem;

    &.dark {
        background-color: $primary-color-dark;
    }

    @media (max-width: $max-width-phone) {
        border-radius: 0;
    }
}

.editForm {
    gap: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "details photos"
        "bio bio";

    @media (max-width: $max-width-phone) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "details"
            "photos"
            "bio";
    }
}

.detailsGridArea {
    grid-area: details;
    height: 100%;
}

.photosGridArea {
    @include flex-column(start, start);
    grid-area: photos;
    height: 100%;
    width: 100%;
    gap: 0.5rem;
}

.bioGridArea {
    grid-area: bio;
}