.navBar {
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}