@import '../../../../styles/variables.scss';
@import '../../../../styles/utilities.scss';

.editPhotosContainer {
    background-color: $secondary-color-light;
    border: 2px solid $highlight-color-light;
    border-radius: 0.5rem;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    height: 100%;
    width: 100%;

    &.dark {
        background-color: $secondary-color-dark;
        border: 2px solid $highlight-color-dark;
    }
}

.editPhotos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
    gap: 1rem;
    position: relative;
    width: 100%;

    >div {
        @include flex-column(center, center);
        position: relative;
    }
}

.editPhotosFooter {
    @include flex-row(end, center);
    padding-top: 1rem;
}

.editPhotosFooterContent {
    @include flex-row(center, center);
    gap: 1rem;
}

.hiddenFileInput {
    display: none;
}