@import '../../styles/variables.scss';
@import '../../styles/utilities.scss';

.pageContainer {
    @include flex-column(start, center);
    width: 100%;
    min-height: calc(100vh - $navbar-height);
    padding: 3rem 1rem;

    @media (max-width: $max-width-phone) {
        padding: 0;
    }
}

.pageContent {
    max-width: $max-width-tablet;
    padding: 1rem;
    background-color: $primary-color-light;
    border-radius: 1rem;

    &.fullWidth {
        width: 100%;
    }

    &.dark {
        background-color: $primary-color-dark;
    }

    @media (max-width: $max-width-phone) {
        border-radius: 0;
    }
}