@import '../../styles/variables.scss';
@import '../../styles/utilities.scss';

.pageContainer {
    @include flex-row(center, start);
    width: 100%;
    padding: 3rem 1rem;

    @media (max-width: $max-width-phone) {
        padding: 0;
        height: 100%;
    }

    > div {
        background-color: $primary-color-light;
        padding: 1rem;
        max-width: $max-width-tablet;
        border-radius: 1rem;

        @media (max-width: $max-width-phone) {
            border-radius: 0;
            height: 100%;
        }
    }

    &.dark {
        > div {
            background-color: $primary-color-dark;
        }
    }
}