@import '../../../styles/variables.scss';
@import '../../../styles/utilities.scss';
@import '../../../styles/typography.scss';

.show {
    @include responsive-flex($outlet-medium-width);
    display: grid;
    gap: 1rem;
    grid-template-areas: 
        "header header"
        "details photos"
        "bio bio";
    grid-template-columns: 1fr minmax(200px, 350px);

    @include respond-to-phone {
        grid-template-areas: 
            "header"
            "photos"
            "details"
            "bio";
        grid-template-columns: 1fr;
    }
}

.header {
    @include flex-row(space-between, center);
    width: 100%;
    grid-area: header;
}

.details {
    @include flex-column(start, start);
    gap: 1rem;
    grid-area: details;
}

.photos {
    grid-area: photos;

    img {
        border-radius: 1rem;
    }
}

.bio {
    grid-area: bio;
}

.detail {
    @include flex-column(start, start);
    gap: 1rem;

    strong {
        @include text-heading-bold;
    }
}
